.header__container, .header-nav, .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list, .contact-quickly, .feature__list, .contacts, .promo__list, .social-list, .clients__list, .filter, .portfolio, .mobile-menu__list, .mobile-menu__contacts, .mobile-menu__social, .thanks__list {
  list-style-type: none;
}

.social-list, .social-list__link, .subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
}

.title {
  font-size: 40px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header__container {
  position: relative;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-home {
  margin: 0 auto;
  padding-top: 12px;
  background-image: url("/images/header/home/home-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .header-home {
    padding-bottom: 81px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-home {
    background-image: url("/images/header/home/home-mob@2x.jpg");
  }
}

@media (min-width: 321px) {
  .header-home {
    background-image: url("/images/header/home/home-tab.jpg");
  }
}

@media (min-width: 321px) and (min-device-pixel-ratio: 2), (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 321px) and (min-resolution: 192dpi), (min-width: 321px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: url("/images/header/home/home-tab@2x.jpg");
  }
}

@media (min-width: 769px) {
  .header-home {
    background-image: url("/images/header/home/home-desk.jpg");
  }
}

@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: url("/images/header/home/home-desk@2x.jpg");
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-span {
  font-size: 30px;
  line-height: 1.16;
  font-weight: 500;
  margin-left: 8px;
  color: #fff;
}

.icon-home {
  stroke: #fff;
}

.header-nav {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__item {
  position: relative;
  text-transform: uppercase;
}

.header-nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #f4707b;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link--current {
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .contact-quickly {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .contact-quickly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-quickly__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #757575;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-quickly__link:hover, .contact-quickly__link:focus {
  color: #f4707b;
}

@media screen and (min-width: 1280px) {
  .contact-quickly__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-quickly__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 1799px) {
  .contact-quickly__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-quickly__list:not(:last-child) {
    margin-right: 50px;
  }
}

.logo {
  color: #f4707b;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--up {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo--up {
    margin-right: 90px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .logo--up {
    margin-right: 123px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo--down {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__header {
  color: #000000;
}

.logo__footer {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .feature__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .feature__item {
    width: 354px;
  }
}

@media screen and (min-width: 1280px) {
  .feature__item {
    width: 270px;
  }
}

.feature__fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__decor {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__decor:hover, .contacts__decor:focus {
  color: #f4707b;
}

.contacts__decor--transparency {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__decor--transparency:hover, .contacts__decor--transparency:focus {
  color: #f4707b;
}

.hero {
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1600px;
  }
}

.hero .hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__background {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .hero__title {
  font-family: 'Titan one', sans-serif;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 150px;
}

@media screen and (min-width: 1280px) {
  .hero .hero__title {
    line-height: 1.36;
    text-transform: capitalize;
  }
}

.button-general {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: #f4707b;
  cursor: pointer;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-general:hover, .button-general:focus {
  background-color: #ea8f94;
}

.backdrop {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), vizibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), vizibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.modal__title {
  display: inline;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .modal__form:focus-within {
    color: #f4707b;
  }
}

.modal__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__custom {
  position: relative;
  display: block;
  height: 40px;
}

.modal__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus, .modal__input:focus {
  border-color: #f4707b;
  outline: transparent;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: #f4707b;
}

.modal__area-form {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .modal__area-form:focus-within {
    color: #f4707b;
  }
}

.modal__area {
  width: 100%;
  padding: 8px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__area:focus, .modal__area:focus {
  border-color: #f4707b;
  outline: transparent;
}

.modal__area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__svg {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__svg,
.close-button:focus .close-button__svg {
  fill: #f4707b;
}

.checkbox-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-form__link {
  cursor: pointer;
  color: #f4707b;
}

@media screen and (max-width: 1279px) {
  .checkbox-form__text {
    font-size: 12px;
  }
}

.checkbox-form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: transparent;
  border-radius: 2px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-form__checkbox:focus + .checkbox-form__icon {
  outline-color: #f4707b;
}

.checkbox-form__checkbox:checked + .checkbox-form__icon {
  fill: #ffffff;
  background-color: #f4707b;
  outline: none;
}

.promo {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .promo {
    display: none;
  }
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__item {
  position: relative;
}

.promo__item:not(:last-child) {
  margin-right: 30px;
}

.promo__backgroundcolor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.promo__descr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team__title {
  margin-bottom: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__descr {
  padding-top: 15px;
  padding-bottom: 15px;
}

.team__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  margin: 10px;
  -ms-flex-preferred-size: calc((100% - 100px) / 5);
      flex-basis: calc((100% - 100px) / 5);
}

.team__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  margin-bottom: 10px;
}

.team__position {
  font-size: 19px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8a1c36;
  margin-bottom: 10px;
}

.team__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__section {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0d4683;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #f4707b;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-client {
  display: block;
  height: 92px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .our-client {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .our-client {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .our-client {
    width: 170px;
  }
}

.our-client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client__link:hover, .our-client__link:focus {
  color: #f4707b;
  border-color: #f4707b;
}

.our-client__logo {
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #f4707b;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:hover, .customer:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.customer__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.customer__company {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.customer__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.customer__vor-overlay {
  position: relative;
  overflow: hidden;
}

.customer__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 17% 6.5%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:hover .customer__overlay,
.customer:focus .customer__overlay {
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
}

.customer__overlay-descr {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1279px) {
  .footer__adress {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer__adress {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1279px) {
  .join {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .join {
    margin-right: 93px;
  }
}

.join__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscription {
    width: 100%;
    text-align: center;
  }
}

.subscription__label {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription__input {
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .subscription__input {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription__input:focus {
  border-color: #f4707b;
  outline: transparent;
}

.subscription__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #f4707b;
  cursor: pointer;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 200px;
}

.subscription__send {
  margin-right: 10px;
}

.subscription__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__svg {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__button:hover .mobile__svg,
.mobile__button:focus .mobile__svg {
  fill: #f4707b;
}

.mobile__button.is-open .mobile__open {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: -1px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu__item {
  display: block;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #f4707b;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts-list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #f4707b;
  text-decoration: none;
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contacts-mail:hover, .mobile-menu__contacts-mail:focus {
  color: #f4707b;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__social-item {
  position: relative;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-item:not(:last-child) :after {
  position: absolute;
  content: "";
  display: inline-block;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  height: 100%;
  bottom: 0;
  right: -10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #f4707b;
  text-decoration: none;
}

.shopper {
  height: 100vh;
}

.shopper__title {
  margin-bottom: 30px;
}

.shopper__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopper__elements {
  -ms-flex-preferred-size: calc((100% - 40px) / 2);
      flex-basis: calc((100% - 40px) / 2);
}

.shopper__elements--one {
  margin-right: 80px;
}

.shopper__name {
  color: #106dd8;
  font-size: 34px;
  margin-bottom: 30px;
}

.shopper__item {
  font-size: 24px;
  color: #d41443;
}

.shopper__item:not(:last-child) {
  margin-bottom: 20px;
}

.benefits {
  height: 100vh;
}

.benefits__title {
  margin-bottom: 30px;
}

.benefits__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.benefits__item {
  font-size: 24px;
  line-height: 1.3;
  color: #d41443;
  margin-bottom: 30px;
}

.tech-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-image: url(../images/tech/tech-stek-10.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tech-wrapper__list li {
  color: #2576e1;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__list--2 li {
  color: #e3741f;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__list--3 li {
  color: #29ad08;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__title {
  font-size: 40px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.thanks__title {
  margin-bottom: 30px;
}

.thanks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .thanks__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thanks__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.thanks__descr {
  padding-top: 15px;
  padding-bottom: 15px;
}

.thanks__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  border: 1px solid transparent;
  margin: 10px;
  -ms-flex-preferred-size: calc((100% - 400px) / 2);
      flex-basis: calc((100% - 400px) / 2);
  height: 520px;
}

.thanks__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  margin-bottom: 10px;
}

.thanks__position {
  font-size: 19px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8a1c36;
  margin-bottom: 10px;
}

.thanks__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thanks__section {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0d4683;
}

.tech-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-image: url(../images/tech/tech-stek-10.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tech-wrapper__list li {
  color: #2576e1;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__list--2 li {
  color: #e3741f;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__list--3 li {
  color: #29ad08;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.tech-wrapper__title {
  font-size: 40px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.thanks__title {
  margin-bottom: 30px;
}

.thanks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .thanks__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thanks__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.thanks__descr {
  padding-top: 15px;
  padding-bottom: 15px;
}

.thanks__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  border: 1px solid transparent;
  margin: 10px;
  -ms-flex-preferred-size: calc((100% - 400px) / 2);
      flex-basis: calc((100% - 400px) / 2);
  height: 520px;
}

.thanks__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  margin-bottom: 10px;
}

.thanks__position {
  font-size: 19px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8a1c36;
  margin-bottom: 10px;
}

.thanks__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thanks__section {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0d4683;
}
/*# sourceMappingURL=main.css.map */