.contacts {
  @extend %listStyleNone;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__decor {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;

  transition: color $generalAnimation;

  &:hover,
  &:focus {
    color: $colorFocus;
  }

  &--transparency {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;

    transition: color $generalAnimation;

    &:hover,
    &:focus {
      color: $colorFocus;
    }
  }
}
