.hero {
  position: relative;

  text-align: center;
  // padding-top: 118px;
  // padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1280px) {
    // padding-top: 200px;
    // padding-bottom: 200px;
    max-width: 1600px;
  }

  .hero__images {
    display: flex;
  }

  .hero__background {
    width: 50%;
    object-fit: contain;
  }

  .hero__title {
    font-family: 'Titan one', sans-serif;
    font-weight: 900;

    font-size: 80px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;

    margin-top: 150px;

    @media screen and (min-width: 1280px) {
      line-height: 1.36;
      text-transform: capitalize;
    }
  }
}
