.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: -15px;

  @extend %listStyleNone;

  @media screen and (min-width: 768px) {
    justify-content: left;
  }
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  margin: 15px;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
