.subscription {
  @media screen and (max-width: 1199px) {
    width: 100%;
    text-align: center;
  }
}

.subscription__label {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.subscription__form {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscription__input {
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #ffffff;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border $generalAnimation;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  &:focus {
    border-color: $colorFocus;
    outline: transparent;
  }
}

.subscription__button {
  @extend %flexCenterCenter;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: $colorFocus;
  cursor: pointer;

  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 200px;
}

.subscription__send {
  margin-right: 10px;
}

.subscription__icon {
  fill: #ffffff;
}
